@{
}
<div id="LogsAndAuditTrailsPage">
    <h2><b><u>Logs And Audit Trails</u></b></h2>

    <!-- Filtering options -->
    <div id="filterOptions">
        <input type="text" id="usernameFilter" placeholder="Filter by username">
        <input type="text" id="actionFilter" placeholder="Filter by action">
        <label for="date">From</label>
        <input type="date" id="fromDateFilter">
        <label for="date">To</label>
        <input type="date" id="toDateFilter">
        <button onclick="fetchLogs()">Apply Filters</button>
    </div>

    <!-- display logs and audit trails in table -->
    <table border="2" id="LogsAndAuditTrailsTable">
        <thead>
            <!-- header  -->
            <tr>
                <!-- table row  -->
                <th>Date and Time</th> <!-- head  -->
                <th>Username</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- table body  -->
        </tbody>
    </table>
</div>

<script>
    // Call fetchLogs when the page loads
    document.addEventListener('DOMContentLoaded', fetchLogs);
</script>