html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.header, footer {
    display: none;
}

html {
    position: relative;
    min-height: 100%;
}

div#header {
    font-family: 'Betm Rounded';
    font-size:larger;
    text-align:center;
    color: azure;
    height: 70px;
    border-bottom:dashed;
    border-bottom-color:black;
}

body {
    background-color: cadetblue;
    height: 500px;
}

/* buttons before login */
div#home-page-navigation li button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

    div#home-page-navigation li button:disabled:hover {
        background-color: black;
        color:white;
    }

/* container block */
div#home-page-navigation ul {
    list-style-type: none;
    padding: 0;
    display: flex; /* for same size button */
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 10px;
    border: 3px solid black;
}

/* button */
div#home-page-navigation li {
    flex: 1; /* same length */
    border: 3px solid;
    border-block-color: black;
}

    /* each button style */
    div#home-page-navigation li button {
        display: block;
        width: 100%;
        height: 80px;
        color: black; /* font color */
        border: none; /* no extra border */
        text-align: center; /* text is aligned at center */
        padding: 5px;
        font-size: 16px;
        font-weight: 500; /* bold */
        font-family: Bahnschrift;
        white-space: normal; /* wrap text */
        background-color: aliceblue;
        vertical-align: top;
    }
        /* button style after hovering on it */
        div#home-page-navigation li button:hover {
            background-color: black;
            color: white; /* font color */
        }

/* moving text style */
#Marquee {
    background-color: darkcyan;
    font-family:'Betm Rounded';
    font-size: larger;
}

/* login page */
#LoginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
}
    #LoginPage input,
    #LoginPage button {
        margin: 5px;
        width: 300px;
        padding: 10px;
    }

#LoginButtonID {
    background-color:lightskyblue;
    border: 3px solid black;
    color: black;
    font-size:18px;
    font-weight:500;
}

    #LoginButtonID:hover {
        background-color: black;
        color: white;
        border: 3px solid black;
    }

/* User Profile Information page */
#UserProfileInformationPage h2 {
    font-family: 'Betm Rounded';
    display: flex;
    align-content: center;
    justify-content: center;
}

#UserProfileInformationPage ul {
    list-style-type: none;
    align-content: center;
    justify-content: center;
}

#UserProfileInformationPage li {
    flex: 1; /* same length */
    line-height: 120px;
    padding-left:10px;
    border: 2px ridge black;
    border-radius:10px;
    font-size:larger;
    font-family:Bahnschrift;
}

/* edit button in user profile information page */
#EditID {
    background-color: lightskyblue;
    border: 3px solid black;
    color: black;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    width: 90px;
}
    #EditID:hover {
        background-color: black;
        opacity: 1.0;
        color: white;
        border: 3px solid black;
    }

/* edit user information page */
#EditUserInformationPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 550px;
}

    #EditUserInformationPage input,
    #EditUserInformationPage button {
        margin: 5px;
        width: 300px; 
        padding: 10px;
    }

#SaveID {
    background-color: lightskyblue;
    border: 3px solid black;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

    #SaveID:hover {
        background-color: black;
        opacity: 1.0;
        color: white;
        border: 3px solid black;
    }

/* Account Summary page */
#UserAccountSummaryPage h2 {
    font-family: 'Betm Rounded';
    display: flex;
    align-content: center;
    justify-content: center;
}

    #UserAccountSummaryPage ul {
        list-style-type: none;
        align-content:center;
        justify-content: center;
    }
    /* user account summary page link (here) style */
    #UserAccountSummaryPage a {
        color: darkblue;
        font-weight: 500;
    }

/* Transaction History Page */
#TransactionHistoryPage h2 {
    font-family: 'Betm Rounded';
    display: flex;
    align-content: center;
    justify-content: center;
}
    /* ul - container */
    #TransactionHistoryList {
        list-style-type: none;
        margin-top:50px;
        padding:0px;
        margin-bottom:20px;
    }

/* Money Transfer Page */
#MoneyTransferPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
}

    #MoneyTransferPage input,
    #MoneyTransferPage button {
        margin: 5px;
        width: 300px;
        padding: 10px;
    }

#TransferID {
    background-color: lightskyblue;
    border: 3px solid black;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

    #TransferID:hover {
        background-color: black;
        color: white;
        border: 3px solid black;
    }

/* logout page */
#LogoutPage {
    font-family: 'Betm Rounded';
    font-size: larger;
}

    /* logout page link (here) style */
    #LogoutPage a {
        color: darkblue;
        font-weight: 500;
    }