@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="UserAccountSummaryPage">
    <h2><b><u>Account Summary</u></b></h2>
    <ul>
        <li> <b> User Name: </b> <span id="DisplayUserNameID">Example Name</span></li>
        <li> <b> Email Address: </b><span id="DisplayEmailAddressID">example_email@gmail.com</span></li>
        <li> <b> Phone Number:</b> <span id="DisplayPhoneNumberID"> 0123456789</span></li> <!-- 10 numbers -->
        <li> <b> Account Number: </b><span id="DisplayAccountNumberID"> 12345678</span></li> <!-- 8 numbers -->
        <li> <b> Balance: </b><span id="DisplayBalanceID"> 10000</span></li> <!-- >= 1 numbers -->
    </ul>
    <p id="ToTransactionHistoryPage"> <br>Click <a href="@Url.Action("Login", "LoginAccount")">here</a> to view Transaction History. </p>
</div>