@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="EditUserInformationPage">
    <input type="text" id="UsernameID" name="Username" placeholder="USERNAME" />
    <input type="email" id="EmailID" name="Email" placeholder="EMAIL ADDRESS" />
    <input type="number" id="PhoneNumberID" name="PhoneNumber" placeholder="PHONE NUMBER" />
    <input type="image" id="ProfilePictureID" name="ProfilePicture" placeholder="PROFILE PICTURE" />
    <button type="button" id="SaveID" onclick="saveUserInformation()">SAVE</button>
</div>