@{
}
<div id="MoneyTransferPage">
    <h2><b><u>Money Transfer</u></b></h2>
    <form onsubmit="event.preventDefault(); transfer();">
        <div>
            <label for="RecipientAccountNumberID">Recipient's Account Number</label>
            <input type="number" id="RecipientAccountNumberID" name="RecipientAccountNumber" placeholder="Recipient's Account Number" required />
        </div>
        <div>
            <label for="AmountID">Amount</label>
            <input type="number" id="AmountID" name="Amount" placeholder="Amount" step="0.01" min="0.01" required />
        </div>
        <div>
            <label for="DescriptionID">Description (max: 30 characters)</label>
            <input type="text" id="DescriptionID" name="Description" placeholder="Description" maxlength="30" required />
        </div>
        <button type="submit">Transfer</button>
    </form>
</div>