<div id="AdminProfileInformationPage">
    <h2><b><u>Admin Profile Information</u></b></h2>
    <ul>
        <li> <b> Profile Picture: </b><img id="DisplayAdminProfilePicture" src="images/adminpfp.png" alt="Profile Picture" style="width: 100px; height: auto;" /></li>
        <li>
            <b> User Name: </b>
            <span id="DisplayAdminUserNameID">Example Name</span>
            <input type="text" id="EditAdminUserNameID" style="display: none;">
        </li>
        <li>
            <b> Email Address: </b>
            <span id="DisplayAdminEmailAddressID">example_email@gmail.com</span>
            <input type="email" id="EditAdminEmailAddressID" style="display: none;">
        </li>
        <li>
            <b> Phone Number: </b>
            <span id="DisplayAdminPhoneNumberID">0123456789</span>
            <input type="tel" id="EditAdminPhoneNumberID" style="display: none;">
        </li>
    </ul>
    <button type="button" id="EditButtonID" onclick="toggleEditMode()">Edit</button>
    <button type="button" id="SaveButtonID" onclick="saveUserInformation()" style="display: none;">Save</button>
</div>