<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Page</title>
    <link rel="stylesheet" href="~/css/site.css">

</head>
<body>
    <div id="header">
        <h1 class="display-4">~DC's Banking System~</h1>
    </div>
    <div id="home-page-navigation">
        <ul>
            <li> <button type="button" id="LoginButtonID" onclick="loadView('login')">Login</button></li>
            <!-- disable button before login -->
            <li><button disabled type="button" id="UserProfileInformationButtonID" onclick="loadView('profile')">User Profile Information</button></li>
            <li><button disabled type="button" id="EditUserInformationButtonID" onclick="loadView('editprofile')">Edit User Information</button></li>
            <li><button disabled type="button" id="UserAccountSummaryButtonID" onclick="loadView('account')">User Account Summary</button></li>
            <li><button disabled type="button" id="TransactionHistoryButtonID" onclick="loadView('transaction')">Transaction History</button></li>
            <li><button disabled type="button" id="MoneyTransferID" onclick="loadView('transfer')">Money Transfer</button></li>
            <li><button disabled type="button" id="LogoutButtonID" onclick="loadView('logout')">Logout</button></li>
        </ul>
        <marquee id="Marquee" direction="right" scrollamount="9"> -- DC's Banking System. Your Number 1 Choice. -- </marquee>

    </div>

    <div id="main"></div>

    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
</body>
</html>
 