<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Page</title>
    <link rel="stylesheet" href="~/css/site.css">

</head>
<body>
    <div id="header">
        <h1 class="display-4">~DC's Banking System~</h1>
    </div>
    <div id="home-page-navigation">
        <ul>
            <li> <button type="button" id="LoginButtonID" onclick="loadView()">Login</button></li>
            <!-- disable button before login -->
            <li><button disabled type="button" id="UserProfileInformationButtonID" onclick="checkLogin('userProfileInformation')">User Profile Information</button></li>
            <li><button disabled type="button" id="EditUserInformationButtonID" onclick="checkLogin('editUserInformation')">Edit User Information</button></li>
            <li><button disabled type="button" id="UserAccountSummaryButtonID" onclick="checkLogin('userAccountSummary')">User Account Summary</button></li>
            <li><button disabled type="button" id="TransactionHistoryButtonID" onclick="checkLogin('transactionHistory')">Transaction History</button></li>
            <li><button disabled type="button" id="MoneyTransferID" onclick="checkLogin('moneyTransfer')">Money Transfer</button></li>
            <li><button disabled type="button" id="LogoutButtonID" onclick="checkLogin('logout')">Logout</button></li>
        </ul>
    </div>

    <p id="LogoutPage">
        @*
        action: Login
        controller name: LoginAccount
        *@
        Thanks for Using DC's Banking System!
        @*
        ,br> for line break - next paragraph
        *@
        <br>You Have Successfully Logged Out. Click <a href="@Url.Action("Login", "LoginAccount")">here</a> to login.
    </p>

    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
</body>
</html>
 