@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Page</title>
    <link rel="stylesheet" href="~/css/site.css">

</head>
<body>
    <div id="header">
        <h1 class="display-4">~DC's Banking System~</h1>
    </div>
    <div id="AdminHomePage">
        <ul>
            <li> <button type="button" id="LoginButtonID" onclick="loadView()">Login</button></li>
            <!-- disable button before login -->
            <li> <button disabled type="button" id="AdminProfileInformationID" onclick="loadView()">Profile Information</button></li>
            <li> <button disabled type="button" id="UserManagementID" onclick="loadView()">User Management</button></li>
            <li> <button disabled type="button" id="TransactionManagementID" onclick="loadView()">Transaction Management</button></li>
            <li> <button disabled type="button" id="LogsAndAuditTrailsID" onclick="loadView()">Logs and Audit Trails</button></li>
            <li><button disabled type="button" id="AdminLogoutButtonID" onclick="checkLogin('logout')">Logout</button></li>

        </ul>
        <marquee id="Marquee" direction="right" scrollamount="9"> -- DC's Banking System. Your Number 1 Choice. -- </marquee>

    </div>

    <div id="LogsAndAuditTrailsPage">
        <h2><b><u>Logs And Audit Trails</u></b></h2>

        <!-- display users data in table -->
        <table border="2" id="LogsAndAuditTrailsTable">
            <thead>
                <!-- header  -->
                <tr>
                    <!-- table row  -->
                    <th>Date and Time</th> <!-- head  -->
                    <th>Username</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- table body  -->
            </tbody>
        </table>
    </div>
    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
</body>
</html>