@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="LoginPage">
    <input type="text" id="UsernameID" name="Username" placeholder="UserName" />
    <input type="password" id="PasswordID" name="Password" placeholder="Password" />
    <button type="button" id="SubmitButtonID" onclick="performAuth()">Submit</button>
    <span id="errorMessage" class="error-message" style="display: none; color: red;">Failed to Authenticate User. Please Try Again</span>
</div>