@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="AdminLoginPage">
    <label for="username">User Name</label>
    <input type="text" id="UsernameID" name="Username" placeholder="Username" />
    <label for="password">Password</label>
    <input type="password" id="PasswordID" name="Password" placeholder="Password" />
    <button type="button" id="LoginButtonID" onclick="performAuth()">Login</button>
</div>