@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p id="LogoutPage">
    @*
    action: Login
    controller name: LoginAccount
    *@
    Thanks for Using DC's Banking System!
    @*
    ,br> for line break - next paragraph
    *@
    <br>You Have Successfully Logged Out. Click <a onclick="loadView('login')">here</a> to login.
</p>
